In [1]:
print("You are good at this")

You are good at this

In [2]:
## hello

In [3]:
new_string = 'Hello World!'

print(new_string)

Hello World!

In [4]:
print( type( new_string))

<class 'str'>

In [6]:
print ("Hello there \"coder\", I'm sure you'll do great! Just remember to use the \\")

Hello there "coder", I'm sure you'll do great! Just remember to use the \

In [10]:
print("heelooo \n yoooooo")

heelooo
 yoooooo

In [12]:
print ("Hello Characters")
print ("\nDid you know that tab\tis sometimes used\n\n\n")
print("\t\t\t\t\tto move words around.")

Hello Characters

Did you know that tab	is sometimes used



					to move words around.

In [13]:
x=7

In [14]:
x

7

In [15]:
y=4.0

print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

In [16]:
z = x + y

# this will show how z inherits the floating point number of y --- this is so we don't lose any precision...

print(type(z), z)

<class 'float'> 11.0

In [20]:
x=9
y=4

print("x =",x)
print("y =",y)

print("x + y =", x+y)

print("x * y =", x*y)

print("x ** y =", x**y)

### slightly more complex here, x/y gives float class number where as x//y gives whole number, below this shows how to get the remainder from integer division

print("x / y =", x/y)

print("x // y =", x//y)

print("x % y =", x%y)

x = 9
y = 4
x + y = 13
x * y = 36
x ** y = 6561
x / y = 2.25
x // y = 2
x % y = 1

In [22]:
### other languages like java require the interger to be defined prior to string of code, python is more generous here. i.e. int x = 7 to avoid issues like x = sdfhnsudh y = 7 then 
### doing x + y --- if you did this with python it would just give error

In [23]:
whatisthis_yoyo = "The quick brown fox jumps over the lazy dog"

In [24]:
whatisthis_yoyo

'The quick brown fox jumps over the lazy dog'

In [28]:
new_string = "The big blue shark ate the fish - yuck!"
print("The original string:")
print("\nTo upper case")
print(new_string.upper())
print("\nTo lower case")
print(new_string.lower())



### Super important to remember for the \n \t \r commnands its \\\\\ not /////

The original string:

To upper case
THE BIG BLUE SHARK ATE THE FISH - YUCK!

To lower case
the big blue shark ate the fish - yuck!

In [30]:
### string formatting

In [49]:
planet = "Earth"
new_str = "1. Hello " + planet

print(new_str, end = "\n\n")

new_str = "2. Hello {}".format(planet)
print(new_str, end = "\n\n")

new_str = "2.5 Hello {} {}".format(planet, planet)
print (new_str, end="\n\n")


## F insertions are new to python 3, inserts the variable right in there.

new_str = f"3. Hello {planet}"

print(new_str, end = "\n\n")

### end = \n\n - called an argument in the sense of an additional parameter that we send to the method.-- At the end of the print statement, include 2 \n characters. If you dont
### include this by default it will give a new line character. i.e. here you can set end to "" to take away this default.

1. Hello Earth

2. Hello Earth

2.5 Hello Earth Earth

3. Hello Earth

In [68]:
x = 5
str_x = str(x)
print(str(x), end="\n\n")

str_x = "5.5"
float_x = float(str_x)
print(float_x)

5

5.5

In [69]:
int_x = int(str_x)
print(int_x)
#can't print int that is not an int (in this case its 5.5 therefore not a whole number)

ValueError: invalid literal for int() with base 10: '5.5'

In [78]:
pi_kinda =3.14159

print("pi to 2 decimal places is: {:.2f}".format(pi_kinda), end="\n\n")
print("pi to 2 decimal places is: {:.4f}".format(pi_kinda), end="\n\n")

# : <--- system command which signals what ever is happening after is about formatting
# .2f f means floating point number and .2f means give 2 decimal places of floating digit number

pi to 2 decimal places is: 3.14

pi to 2 decimal places is: 3.1416

In [79]:
# Lists - use square brackets as ends...a basic example can be seen below
# Like floors in a building, the components of a list start at 0 and go up, e.g. 0,1,2,3 in this case.

list_example = ["Apples", "Bananas", "Cucumbers", "Durians"]

# To return an element of a list we can do:

print(list_example[0])

Apples

In [88]:
# Can also count backwards through the list so :

print(list_example[0])

print(list_example[-4])

print(list_example[-5])

Apples
Apples

IndexError: list index out of range

In [87]:
# len is short for length

list_length = len(list_example)
print(f"The list has {list_length} elements")

print(list_example[list_length-3])

# 4 elements in the list (0,1,2,3) therefore n=4 -- n - 3 = 1 therefore we get bananas here...

The list has 4 elements
Bananas